/*Estilo Geral*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #000;
  height: 100vh;
}

.interface{
  max-width: 1280px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #0066ff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: .2s;
}

h2.titulo{
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  color: #0066ff;
}
/*Estilo do cabeçalho*/
header{
  padding: 40px 4%;
}

header > .interface{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #c7c7c7;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: #fff;
  transform: scale(1.1);
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  display: inline-block;
  margin: 0;
  padding: 0 40px;
}

.btn-contato button:hover{
  box-shadow: 0px 0px 8px #0051ff;
  transform: scale(1.1);
}

/*Estilo do topo do site*/
section .topo-do-site{
  padding: 40px 4%;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1{
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
  color: #0066ff;
}

.topo-do-site .txt-topo-site p{
  color: #fff;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}

/* Estilo da seção projetos */

section.projetos{
  padding: 100px 4%;
}

section.projetos .flex{
  gap: 60px;
}

.projetos .projetos-box{
  color: #fff;
  padding: 40px;
  border-radius: 20px;
  margin-top: 45px;
  transition: .2s;
}

.projetos .projetos-box:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px #ffffff93;
}

.projetos .projetos-box i{
  color: #0066ff;
  font-size: 70px;
}

.projetos .projetos-box h3{
  font-size: 28px;
  margin: 15px 0;
}